In [1]:
import pandas as pd
from tqdm import tqdm

file_path = '_SELECT_r_p_v_vd_FROM_record_r_JOIN_person_p_ON_r_person_index_p_202408261231.csv'
df = pd.read_csv(file_path).drop('Unnamed: 0', axis=1)
file_path = 'combined.csv'
df1 = pd.read_csv(file_path).drop('Unnamed: 0', axis=1)

<ipython-input-1-d4a77c9e5136>:5: DtypeWarning: Columns (4,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path).drop('Unnamed: 0', axis=1)

In [3]:
for index, row in df1.iterrows():
    if pd.notna(row['Remarks']):
        if isinstance(row['Disemb_loc'], str) and 'armement' in row['Disemb_loc'].lower():
            loc = list(df[
                ((df['last_name'] == row['Last Name']) | (df['last_name'].isna() & pd.isna(row['Last Name']))) &
                ((df['first_name'] == row['First Name']) | (df['first_name'].isna() & pd.isna(row['First Name']))) &
                ((df['emb_date'] == row['Emb_date']) | (df['emb_date'].isna() & pd.isna(row['Emb_date'])))
            ]['steps'])
            if len(loc) > 0:
                df1.at[index, 'Disemb_loc'] = loc[0].split("-")[-1]

        if isinstance(row['Emb_loc'], str) and 'armement' in row['Emb_loc'].lower():
            loc = list(df[
                ((df['last_name'] == row['Last Name']) | (df['last_name'].isna() & pd.isna(row['Last Name']))) &
                ((df['first_name'] == row['First Name']) | (df['first_name'].isna() & pd.isna(row['First Name']))) &
                ((df['emb_date'] == row['Emb_date']) | (df['emb_date'].isna() & pd.isna(row['Emb_date'])))
            ]['steps'])
            if len(loc) > 0:
                df1.at[index, 'Emb_loc'] = loc[0].split(" ")[0]

In [15]:
df1[(df1['Emb_loc'].isna()) | (df1['Emb_date'].isna()) | (df1['Disemb_loc'].isna()) | (df1['Disemb_date'].isna())]

,n,Last Name,First Name,Function,Remarks,Age,Wage,Emb_date,Disemb_date,Disemb_loc,Fate,Emb_loc,emb_class,disemb_class,issued
10,266.0,AUDRAIN,Pierre,passager clandestin,trouvé caché à bord après le départ de Lorient...,16.0,NaN,NaN,09/05/1754,Pondichéry,trouvé caché à bord après le départ de Lorient...,Lorient,304.0,303,['emb_date']
48,264.0,BUCK,Lovell,passager clandestin,trouvé caché à bord après le départ de Lorient...,24.0,NaN,NaN,09/10/1754,Pondichéry,NaN,Lorient,304.0,302,['emb_date']
52,185.0,CALIBRE DIT PIERROT,Pierre,soldat passager,resté à terre malade au départ de Lorient --- ...,NaN,7.1,NaN,NaN,Lorient,resté à terre malade au départ de Lorient --- ...,NaN,308.0,308,"['emb_date', 'Disemb_date', 'emb_loc']"
92,254.0,DALINOT,Simon,soldat passager,déserté au départ de Lorient --- soldat allema...,NaN,NaN,NaN,09/08/1756,Lorient,never boarded!,NaN,NaN,304,"['emb_date', 'emb_loc']"
93,1.0,DARGY DE LA CHÂTRE,Christophe,capitaine [officier],à fait la campagne de Lorient à La Corogne ---...,NaN,200,NaN,10/09/1756,la Corogne,NaN,Lorient,301.0,301,['emb_date']
192,311.0,JANY,Ram,matelot lascar,embarqué en supplément à ? le 10/08/1755 \n dé...,NaN,14.8,08/10/1755,26/10/1755,Port-Louis île de France,embarqué en supplément à ? le 10/08/1755 \n dé...,NaN,301.0,302,['emb_loc']
205,137.0,KERDANIEL,NaN,enseigne passager,resté à terre au départ de Lorient --- passage...,NaN,NaN,03/09/1754,03/09/1754,Lorient,NaN,NaN,308.0,308,['emb_loc']
225,267.0,LAVIGNE,Jean François Honoré,pilotin passager,embarqué par erreur à l'armement \n débarqué à...,15.0,?,NaN,03/09/1754,Pondichéry,embarqué par erreur à l'armement \n débarqué à...,NaN,301.0,302,"['emb_date', 'emb_loc']"
227,258.0,LE BERRE,Mathurin,matelot,remplacement à l'armement \n resté à terre au ...,30.0,18,09/08/1756,03/09/1754,Lorient,NaN,NaN,301.0,308,['emb_loc']
251,163.0,LE QUILLEQ DIT ROSPORDEN,Maurice,soldat passager,embarqué à Lorient le 08/03/1754 \n resté à te...,NaN,7.1,03/08/1754,NaN,Lorient,embarqué à Lorient le 08/03/1754 \n resté à te...,Lorient,301.0,308,['Disemb_date']
263,265.0,MAGNIEN DIT CHALONS,Jean,3e pilote passager,trouvé caché à bord après le départ de Lorient...,29.0,24,NaN,21/09/1755,Port-Louis île de France,NaN,Lorient,304.0,302,['emb_date']
296,268.0,NOUGAY,Jean,passager clandestin,trouvé caché à bord après le départ de Lorient...,12.0,NaN,NaN,24/02/1755,Chandernagor,NaN,Lorient,304.0,302,['emb_date']
310,144.0,PERRIN,NaN,lieutenant des hussards passager,resté à terre au départ de Lorient --- passage...,NaN,NaN,03/09/1754,03/09/1754,Lorient,NaN,NaN,308.0,308,['emb_loc']
362,252.0,SELLER,Georges,soldat passager,resté à terre malade au départ de Lorient --- ...,NaN,NaN,NaN,NaN,Lorient,resté à terre malade au départ de Lorient --- ...,NaN,308.0,308,"['emb_date', 'Disemb_date', 'emb_loc']"
373,215.0,SOUDAY,Barthélémy,tambour passager,resté à terre malade à Lorient --- soldat alle...,NaN,NaN,NaN,NaN,Lorient,resté à terre malade à Lorient --- soldat alle...,NaN,308.0,308,"['emb_date', 'Disemb_date', 'emb_loc']"
381,191.0,THOMASSON DIT THOMASSON,Henri Joseph,soldat passager,resté à terre malade au départ de Lorient --- ...,NaN,7.1,NaN,NaN,Lorient,resté à terre malade au départ de Lorient --- ...,NaN,308.0,308,"['emb_date', 'Disemb_date', 'emb_loc']"
387,130.0,TRÉGUIER,Joseph,mousse,resté à terre au départ de Lorient \n rejoint ...,12.0,6,03/09/1754,09/08/1756,la Corogne,NaN,NaN,301.0,302,['emb_loc']
390,196.0,VANNIER DIT SAINTE-MENEHOULT,Louis,soldat passager,resté à terre malade au départ de Lorient --- ...,NaN,7.1,NaN,NaN,Lorient,resté à terre malade au départ de Lorient --- ...,NaN,308.0,308,"['emb_date', 'Disemb_date', 'emb_loc']"
399,347.0,WEFFLET,Jean,matelot,remplacement à l'île de France du 19/11/1755 \...,NaN,18,19/11/1755,NaN,Chandernagor,remplacement à l'île de France du 19/11/1755 \...,l'île de France,302.0,302,['Disemb_date']
405,327.0,NaN,Constantin,passager clandestin,trouvé caché à bord le 06/03/1755 \n débarqué ...,NaN,NaN,03/06/1755,26/10/1755,Port-Louis île de France,trouvé caché à bord le 06/03/1755 \n débarqué ...,NaN,304.0,302,['emb_loc']

In [19]:
df1[df1['Last Name']=='MAGNIEN DIT CHALONS']

,n,Last Name,First Name,Function,Remarks,Age,Wage,Emb_date,Disemb_date,Disemb_loc,Fate,Emb_loc,emb_class,disemb_class,issued
263,265.0,MAGNIEN DIT CHALONS,Jean,3e pilote passager,trouvé caché à bord après le départ de Lorient...,29.0,24,[nan],21/09/1755,Port-Louis île de France,NaN,Lorient,304.0,302,['emb_date']

In [21]:
df[df.last_name=='MAGNIEN DIT CHALONS']

,remarks,emb_date,emb_loc,emb_class,disemb_date,disemb_loc,disemb_class,last_name,first_name,date_voy_begin,date_voy_end,steps,start_loc,last_loc,place
4643,embarqué à l'armement le 24/11/1742 \n débarqu...,12/12/1742,Lorient,301.0,24/11/1742,NaN,NaN,MAGNIEN DIT CHALONS,Jean,12/12/1742,29/12/1744,Lorient - Cap-Vert - Mascareignes - Chine - Ma...,Lorient,Lorient,"Santiago, Cap-Vert"
50346,trouvé caché à bord après le départ de Lorient...,NaN,NaN,304.0,21/09/1755,port-louis île de france,NaN,MAGNIEN DIT CHALONS,Jean,09/03/1754,08/09/1756,"Lorient - Cap-Vert - Madagascar, Inde et Masca...",Lorient,La Corogne,Pondichéry

In [17]:
for index, row in df1.iterrows():
    if pd.notna(row['Remarks']):
        if pd.isna(row['Emb_date']):
            df1.at[index, 'Emb_date'] = df[
                ((df['last_name'] == row['Last Name']) | (df['last_name'].isna() & pd.isna(row['Last Name']))) &
                ((df['remarks'] == row['Remarks']) | (df['remarks'].isna() & pd.isna(row['Remarks']))) &
                ((df['first_name'] == row['First Name']) | (df['first_name'].isna() & pd.isna(row['First Name'])))
            ]['emb_date']
            
        if pd.isna(row['Emb_loc']):
            df1.at[index, 'Emb_loc'] = df[
                ((df['last_name'] == row['Last Name']) | (df['last_name'].isna() & pd.isna(row['Last Name']))) &
                ((df['remarks'] == row['Remarks']) | (df['remarks'].isna() & pd.isna(row['Remarks']))) &
                ((df['first_name'] == row['First Name']) | (df['first_name'].isna() & pd.isna(row['First Name'])))
            ]['emb_loc']
            
        if pd.isna(row['Disemb_date']):
            df1.at[index, 'Disemb_date'] = df[
                ((df['last_name'] == row['Last Name']) | (df['last_name'].isna() & pd.isna(row['Last Name']))) &
                ((df['remarks'] == row['Remarks']) | (df['remarks'].isna() & pd.isna(row['Remarks']))) &
                ((df['first_name'] == row['First Name']) | (df['first_name'].isna() & pd.isna(row['First Name'])))
            ]['disemb_date']
            
        if pd.isna(row['Disemb_loc']):
            df1.at[index, 'Disemb_loc'] = df[
                ((df['last_name'] == row['Last Name']) | (df['last_name'].isna() & pd.isna(row['Last Name']))) &
                ((df['remarks'] == row['Remarks']) | (df['remarks'].isna() & pd.isna(row['Remarks']))) &
                ((df['first_name'] == row['First Name']) | (df['first_name'].isna() & pd.isna(row['First Name'])))
            ]['disemb_loc']

In [18]:
len(df1[(df1['Emb_loc'].isna()) | (df1['Emb_date'].isna()) | (df1['Disemb_loc'].isna()) | (df1['Disemb_date'].isna())])

0

In [10]:
# # Emb_loc in df = Emb_loc in row
# df1.at[index, 'Emb_loc'] = df[
#     ((df['last_name'] == row['Last Name']) | (df['last_name'].isna() & pd.isna(row['Last Name']))) &
#     ((df['remarks'] == row['Remarks']) | (df['remarks'].isna() & pd.isna(row['Remarks']))) &
#     ((df['first_name'] == row['First Name']) | (df['first_name'].isna() & pd.isna(row['First Name']))) &
#     ((df['emb_loc'] == row['Emb_loc']) | (df['emb_loc'].isna() & pd.isna(row['Emb_loc']))) &
#     ((df['disemb_date'] == row['Disemb_date']) | (df['disemb_date'].isna() & pd.isna(row['Disemb_date']))) &
#     ((df['disemb_loc'] == row['Disemb_loc']) | (df['disemb_loc'].isna() & pd.isna(row['Disemb_loc']))) &
#     ((df['emb_date'] == row['Emb_date']) | (df['emb_date'].isna() & pd.isna(row['Emb_date'])))
# ]['emb_loc']

In [7]:
df1[(df1['Function']=='VANNsIER DIT SAINTE-MENEHOULT')]

Empty DataFrame
Columns: [n, Last Name, First Name, Function, Remarks, Age, Wage, Emb_date, Disemb_date, Disemb_loc, Fate, Emb_loc, emb_class, disemb_class, issued]
Index: []

In [4]:
df1.to_csv('flag_corrupted.csv')

In [6]:
set(df1['Emb_loc'])

{'Cajory',
 'Chandernagor',
 'La Corogne',
 'Lorient',
 'Pondichéry',
 'Saint-Paul île Bourbon',
 'at sea',
 "l'armement",
 "l'armement à Lorient",
 "l'île de France",
 nan}

In [91]:
list(df1[df1.Disemb_loc.str.contains('ration', na=False, case=False)]['Remarks'])

['supplément à Chandernagor du 01/02/1755 \n mort en mer le 10/06/1755 --- à la ration',
 'supplément à Chandernagor du 01/02/1755 \n déserté sur le vaisseau de côte le Golconde le \n 19/08/1755 --- cafre libre chrétien, à la ration \n remplacé par Ram Jany',
 'supplément à Chandernagor du 01/02/1755 \n mort en mer le 05/07/1755 --- à la ration']

In [ ]:
"embarqué à l'armement \n tombé à la mer et mort noyé le 31/05/1754"